html, body {
    margin: 0;
    padding: 0;
}

#container {
    margin: 0 auto;
    width: auto;
    background: #FFFFFF;
}

#header {
    background: #FFF5EE;
    padding: 20px;
}

/* --- Alotta navigation CSS code to get it to look like this ---*/

#navigation {
    float: left;
    width: 100%;
    background: #F5DEB3;
}

#navigation ul {
    margin: 0;
    padding: 0;
}
#navigation ul li {
    list-style-type: none;
    display: inline;
}
#navigation li a {
    display: block;
    float: left;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-right: 1px solid black;
}
#navigation li a:hover {
    background: black;
}
#content {
    padding-left: 20px;
}
#footer {
    padding: 30px;
    background-color: #FFEFD5;
}


.more_food {
    background-color: #B3D5D8;
}